{% extends "::base.html.twig" %}

{% block body %}

<div style="border: 1px solid black;" class="text-center col-md-4 col-md-offset-4">
<strong>Auteur: {{ articles.author }}</strong>
    <hr>
<h3> {{ articles.title }}</h3>

<p>{{ articles.content }}</p>
    Tag : <a href="{{ path('article_tag', { 'tag': articles.tag }) }}">{{ articles.tag }}</a>
    <hr>
    <strong><a href="{{ path('article_list') }}">Retour à la list des articles</a></strong>
</div>


{% endblock %}